.search-box{
	display: flex;
	margin-left: 43%;
}
.search-box:active{
	border: none !important;/*it doesn't work*/*/
}
#search-input{
	border-radius: 15px;
	border: solid 1px #edeeee;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 30px;
	padding: 3px 10px 3px 26px;
	width: 200px;
	z-index: 2;
	text-rendering: auto;
	display: inline-block;
	text-align: start;
	font: 13px Arial;
	text-align: left;
	/*position: absolute;*/
}
.glyphicons-search{
	/*position: absolute;*/
	left: 11px;
	top: 9px;
	width: 10px;
	height: 10px;
}
#addBtn,
#newsBtn{
	background-color: transparent;
	font: 16px Arial, Helvetica, sans-serif;
	color: #808080;
	padding: 5px 25px;
	outline: 0;
	box-shadow: none;
}
/*#addBtn,
#newsBtn:hover{
	text-decoration: underline;
}*/
.dropdown-menu{
	height: 80px;
	width: 200px;
}

/*add modal*/
.modal-header, h4, .close {
      text-align: center;
      font-size: 30px;
  }
.modal-footer {
      background-color: #f9f9f9;
  }
.modal-header{
  	padding: 35px 50px;
  }
.modal-body{
  	padding: 10px 50px;
  }
#addModal{
	margin: auto;
	margin-top: 50px; 
	width: 600px;
	height: auto;	
}
.add-btn {
  background-color: #fff;
  border-color: #ccc;
  color: #333;
}
.add-btn:hover{
	background-color: #e6e6e6 !important;
	border-color: #adadad;
	color: #333;
}