/* base nav styles */
nav img{
	width:75px;
	height:35px;
	left: 350px;
}
/*************88*/
nav{
	font: 16px Arial, Helvetica, sans-serif;
	margin-top: 50px;
	border: none !important;
}
nav ul{
	margin: 0;
	width: 100%;
	padding: 0;
	text-align: center;
	list-style-type: none;
	height: 60px;
}
nav li{
	display: inline;
	border-right: 1px solid #808080;
}
nav li:first-child{
	border-right: none;
}
nav li:last-child{
	border-right: none;
}
nav li a{
	text-decoration: none;
	display: inline;
	color: #808080;
	padding: 5px 25px;
}
nav li a:hover{
	color: black;
}

#loginBtn{
	background-color: transparent;
	font: 16px Arial, Helvetica, sans-serif;
	color: #808080;
	padding: 5px 25px;
	outline: 0;
	box-shadow: none;
}
#loginBtn:hover{
	color: black;
	text-decoration: underline;
}
#loginBtn:active{
	border: none !important; 
}
/* carousele */

 h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;      
      font-size: 20px;
      color: #111;
  }
 .carousel-inner{
 	height: 470px;
 }
 .carousel-inner .item:nth-child(1), 
 .carousel-inner .item:nth-child(2), 
 .carousel-inner .item:nth-child(3){
 	background-size: cover;
 	width: 100%;
 	max-height: 470px;
 	height: 100%;
 	background-repeat: no-repeat;
 }
 .carousel-inner .item:nth-child(1){
 	background-image: url(../photos/mobile.jpg);
 }
 .carousel-inner .item:nth-child(2){
 	background-image: url(../photos/secon.jpg);
 }
 .carousel-inner .item:nth-child(3){
 	background-image: url(../photos/technology.jpg);
 }
 .carousel-inner img {
      margin: auto;
  }
 .carousel-caption h3 {
      color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }

  body{
  	font-size: 15px;
  }

  .item {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .item p {
      margin-top: 15px;
      color: #555;
  }

/* masonry */

section#grid_container{
	margin-right: auto;
	margin-left: auto;
	position: relative;

}
section#grid_container > div{
	position: absolute;
	width: 380px;
	border:#000 1px solid;
	margin: 40px 40px;
	padding: 10px;

}
#grid_container > div > div{
	background-image: url(../photos/hacker.jpg);
	height: 100%;
	width: 100%;
}

div#grid_container > div::nth-child(2n+0){
	background: #FFDC64;
}
div#grid_container > div::nth-child(2n+1){
	background: #FEC910;
}
ul.pagination{
	margin: auto;
}

/* login modal */
.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
.modal-footer {
      background-color: #f9f9f9;
  }
.modal-header{
  	padding: 35px 50px;
  }
.modal-body{
  	padding: 40px 50px;
  }
#loginModal{
	margin: auto;
	margin-top: 50px; 
	width: 600px;
}
